<h1>Atores</h1>
<%= button_link 'Registrar Ator', new_actor_path %>
</div>

<% if @actors.blank? %>
<p>Nenhum ator registrado</p>
<% else %>
    <table id="actors-table" class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <th scope="col" class="px-3 py-3">Nome</th>
        <th scope="col" class="px-6 py-3">Nacionalidade</th>
        <th scope="col" class="px-6 py-3">Nascimento</th>

    </thead>
    <tbody>
        <% @actors.each do |actor| %>
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
            <td class="px-3 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                <%= link_to actor.name, actor, class: "text-blue-600 dark:text-blue-500 hover:underline" %>
            </td>
             <td class="px-6 py-4">
                <%= actor.nacionality %>
            </td>
            <td class="px-6 py-4">
                <%= l(actor.birth_date, format: :long) %> 
            </td>
        </tr>
        <% end %>
    </tbody>
    </table>
<% end %>
