<%= page_title(@actor.name) %>
<dl class="max-w-md text-gray-900 divide-y divide-gray-200 dark:text-white dark:divide-gray-700">
  <div class="flex flex-col pb-3">
    <dt class="mb-1 text-gray-500 md:text-lg dark:text-gray-400">Nacionalidade: </dt>
    <dd class="text-lg font-semibold"><%= @actor.nacionality %></dd>
  </div>
</dl>
<h2 class="text-4xl font-bold dark:text-white mb-3">Papéis</h2>
<% @actor.roles.each do |role| %>
  <%= render role %>
<% end %>
<div class="mb-6 grid grid-cols-4 gap-4">

</div>
<%= link_to 'Registrar Papel', new_actor_role_path(@actor), class: 'btn-confirm'%>
