<div id="<%= dom_id(role) %>" class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow">
  <ul>
    <li class="flex items-center space-x-3 rtl:space-x-reverse">
      <span>Nome: <span class="font-semibold text-gray-900"><%= role.name %></span></span>
    </li>
    <li class="flex items-center space-x-3 rtl:space-x-reverse">

      <span>Filme: <span class="font-semibold text-gray-900"><%= role.movie.title %></span></span>
    </li>
  </ul>
</div>

